:root {
    font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --dark-grey: #22252a;
    --grey-form: #2a2c36;
    --dark-grey-hover: #3a3c41;
    --grey: #bdbdbd;
    --light-grey: #d9d9d9;
    --main-white: #fafafa;
    --white: #fff;

    --main-green: #8baa36;
    --main-green-hover: #a1c04c;
    --secondary-green: #ebf3d4;

    --alert-yellow: #f6c23e;
    --error-red: #e74a3b;
    --correct-green: #3cbc81;
}

body {
    margin: 0;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

::-moz-selection {
    color: var(--main-white);
    background: var(--main-green);
}

::selection {
    color: var(--main-white);
    background: var(--main-green);
}
